@import '~variables';

.form-content {
    background: #fff;
    margin-right: 20px;
    display: grid;
    grid-gap: 20px;
    align-items: flex-start;
    align-content: flex-start;
    padding: 100px;

    .input-container {
        margin-top: 2px;
    }

    @media (max-width: 730px) {
        padding: 20px 5px;
        margin: 0;
    }
}




.button-container {
    @include auth-continue-button-container;
    letter-spacing: -1px;
    font-family: $main-font;
    margin: 20px 0px;
}

.sign-in-link-container {
    @include auth-link-container;
    letter-spacing: -2px;
    font-family: $main-font;
    word-spacing: -4px;
    font-size: 18px;
    margin-bottom: 0px;
}