PORT=
NODE_ENV=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_DIALECT=
SECRET_KEY=
TOKEN_EXPIRE=
DB_NAME_TEST=
DB_USERNAME_TEST=
DB_PASSWORD_TEST=
api_url=
ADMIN_MAIL_PASS=
AMIN_MAIL_USER=
STRIP_PUBLIC_KEY=
STRIP_API_KEY=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=