@import '~variables';

.container {
    display: grid;
    grid-row-gap: 20px;
}

.list-item {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-family: $main-font;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    color: #959595;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    transition: all .2s cubic-bezier(.25, .25, .25, 1);
    border-radius: 4px;
    height: 100%;
    padding: 10px;

    &:hover {
        color: olivedrab;
    }
}


.list-container {
    display: grid;
    grid-row-gap: 10px;
}

.active {
    color: #fbb710;
}


.header {
    font-family: $main-font;
    font-weight: bold;
    font-size: 18px;
}