@import '~variables';


.main-container {
    display: grid;
    grid-template-columns: minmax(0, 230px) 1fr;
    height: 100vh;

    @media (max-width: 730px) {
        grid-template-columns: auto;
    }
}

.main-content {
    padding: 10% 5%;

    @media (max-width: 730px) {
        padding: 0;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    grid-gap: 10px;
    padding: 10% 5%;
    overflow-y: scroll;
    align-content: start;

    @media (max-width: 730px) {
        padding: 10%;
    }
}


.menu-container {
    padding: 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
    transition: all .2s cubic-bezier(.25, .25, .25, 1);
    border-radius: 4px;
    height: 100%;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}