@import '~variables';

.main-container {
    display: grid;
    grid-template-columns: 280px auto;
    height: 100%;
    grid-template-rows: 1000px;

    @media (max-width: 730px) {
        grid-template-columns: auto;
        grid-template-rows: 100px auto;
    }
}

.sidebar-container {
    display: grid;
    padding: 0 0;
    height: 100%;
    background: #fff;
    transition: all .2s cubic-bezier(.25, .25, .25, 1);
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s;


    @media (max-width: 730px) {
        z-index: 100;
        width: 230px;
        position: absolute;
        background-color: white;
        height: 100%;
    }
}

.main-content {
    display: block;

}

.show {
    display: block;

    @media (max-width: $mobile-width) {
        transform: translateX(0px);

    }
}

.hide {
    @media (max-width: $mobile-width) {
        transform: translateX(-500px);
    }
}