@import '~variables';

.main-content {
    display: grid;
    grid-template-columns: minmax(auto, 450px) 1fr;
    padding-top: 30px;

    @media (max-width: 730px) {
        grid-template-columns: auto;

    }
}

.image-slider-wrapper {
    display: block;
    padding: 5%;
    height: 400px;
    max-height: 400px;
}