$half-mobile-width: 420px;
$mobile-width: 840px;
$tablet-width: 1025px;
$desktop-width: 1192px;
$laptop-width: 1024px;
$headline-font: 'Futura PT';
$futura: 'Futura PT';
$hanken-sans: 'Hanken Sans';
$main-font: 'Courier New',
Courier,
monospace;

$font-size--default: 18px;
$taupe: #beb7a6;
$black: #000;
$white: #fff;
$fast-car-red: #ab2328;
$blue: #4996ae;
$dark-blue: #036b82;
$green-check: #26a86f;
$green-success: #26a84e;
$blue-3: #7b8da8;
$darker-blue: #1d3155;
$grey-blue: #7e8faa;
$light-gray: #f4f4f4;
$mid-gray: #979797;
$mobile-h1: 40px;
$debit-red: #C33F3F;